<a href="https://colab.research.google.com/github/ayannj13/Data-Science/blob/main/Homework1_AyanJamal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print(f"Your name is {name}. Your age is {age}")

What is your name? Ayan
What is your age? 20
Your name is Ayan. Your age is 20

In [2]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

a=43
b=54

if a == b:
  print("a and b are equal")
else:
    print("a and b are not equal")

a and b are not equal

In [3]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

a=43
b=54

if a > b:
  print("a is greater than b")
elif a < b:
  print("a is less than b")
else:
  print("a and b are equal")

a is less than b

In [4]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [5]:
#Q5-Using while loop, print 5,4,3,2,1
k=5
while k>0:
  print(k)
  k-=1

5
4
3
2
1

In [38]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.


for k in range(10, -1, -2):
    if k == 8:
        continue
    print(k)

10
6
4
2
0

In [22]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

def age(birth_year):
    current_year = 2025 # noted the current year here
    return current_year - birth_year  #get the age by subtracting the birth year from current year

print(age(1944))

81

In [23]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
    def addition(x,y):
        return x+y
    def subtraction(x,y):
        return x-y
    def multiplication(x,y):
        return x*y
    def division(x,y):
        if y == 0:
            return "Error! Division by 0" # we can't divide by 0
        return x/y

print(arithmetic.addition(3,4))
print(arithmetic.subtraction(9,4))
print(arithmetic.multiplication(3,5))
print(arithmetic.division(10,1))

7
5
15
10.0

In [24]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def sum(n):
    final_sum=0 #initialize sum

    for i in range (1, n+1):
        final_sum+=i
    return final_sum

print(sum(5))

15

In [45]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

import random
#random numbers between 0 and 1
random_nums = [random.random() for _ in range(10)]
print(random_nums[:3])

[0.5202203008207079, 0.8720011458892485, 0.9771383798403078]

In [43]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))

n=15

for i in range(1, n + 1):
    if i % 3 == 0:
        print(i, end=", " if i < n and (i+3) <= n else "")

3, 6, 9, 12, 15